body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #333;
}

.calculator {
    border: 2px solid #ccc;
    border-radius: 15px;
    width: 340px;
    background-color: #f3f3f3;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.calculator-screen {
    width: calc(100% - 40px);
    height: 60px;
    border: none;
    background-color: #e6e6e6;
    color: #333;
    text-align: right;
    padding: 10px;
    font-size: 2rem;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-content: center; /* Centraliza verticalmente */
}

button.key {
    height: 60px;
    border: none;
    background-color: #ddd;
    color: #333;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s, transform 0.1s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button.key:hover {
    background-color: #ccc;
}

button.key:active {
    background-color: #bbb;
    transform: scale(0.95);
}

button.key.operator {
    background-color: #ff9500;
    color: #fff;
}

button.key.equal-sign {
    background-color: #34c759;
    grid-column: span 4; /* Ocupa quatro colunas */
    height: 60px; /* Altura padrão */
    font-size: 1.5rem; /* Tamanho de fonte padrão */
}

button.key.all-clear {
    background-color: #ff3b30;
}

.description {
    margin-top: 20px;
}

.description p {
    margin: 5px 0;
    color: #666;
    font-size: 1rem;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode .calculator {
    border-color: #666;
    background-color: #444;
}

.dark-mode .calculator-screen {
    background-color: #555;
    color: #fff;
}

.dark-mode .calculator-keys {
    background-color: #444;
}

.dark-mode button.key {
    background-color: #666;
    color: #fff;
}

.dark-mode button.key:hover {
    background-color: #888;
}

.dark-mode button.key:active {
    background-color: #555;
}

.dark-mode button.key.operator {
    background-color: #ff9500;
}

.dark-mode button.key.equal-sign {
    background-color: #34c759;
}

.dark-mode button.key.all-clear {
    background-color: #ff3b30;
}

.dark-mode .description p {
    color: #aaa;
}

